.text {
  text-align: center;
  max-width: 20rem;
  width: 100%;
  margin: auto;
  margin-top: -2rem;
  position: relative;
  color: green;
  padding: 1rem;
  font-size: 2rem;
}

.rci {
  text-align: center;
  max-width: 20rem;
  width: 100%;
  margin: auto;
  margin-top: 0rem;
  position: relative;
  color: green;
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
}
