.rci {
  color: #faaf1b;
  font-size: 2vw;
  /* font-style: italic; */
  font-family: "Arial";
  font-weight: 750;
}

.emblem_img {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}

.list {
  display: flex;
  justify-content: left;
  align-items: center;

  max-width: 22vw;
}
/* @media (min-width: 1000px) {
  .rci {
    font-size: 30px;
  }
} */
